@backgroundBodyColor: #e7e7e7;
@paperColor: #ffffff;
@paperTopColor: #02028d;

@baseFontColor: #333333;

@sectionColor: #fff8e0;
@underlineColor: #ff6464;

@baseLinkColor: mix(@baseFontColor, @underlineColor);
@hoverLinkColor: @underlineColor;

@chartBaseColor: #f1f1f1;
@chartBarColor: #ffcf34;
